$card-width: 200px;
$cards-gap: 48px;
$content-width: 4*$card-width + 3*$cards-gap;
$color-btn-blue: rgba(0, 172, 220, 1);
$color-secondary-text: rgba(97, 96, 112, 1);
$color-main-text: rgba(6, 11, 53, 1);
$color-accent-white: rgba(255, 255, 255, 1);

* {
  margin: 0;
  padding: 0;
  
  
}

.body {
  background-color: $color-accent-white;
  font-family: "Roboto", sans-serif;

}
// #region heder
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #fff;
  padding-right: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.logo__img {
  display: block;
  width: 40px;
  height: 40px;
  padding-left: 50px;

}
//#endregion  

// #region nav
.nav {
  &__list {
    display: flex;
    list-style: none;
  }
  
  &__item:not(:first-child) {
    margin-left: 20px;
  }

  &__link {
    display: block;
    position: relative;
    line-height: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: $color-main-text;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    
    &:hover {
      color: $color-btn-blue;
      // transition-property: hover-color;
      // transition-delay: 5s;
    }
    // animation: hover-color 300ms;}
      
    // ;
    // transition: color 300ms;
    //  &:hover {}
  
    &--active::after {
      position: absolute;
      content: "";
      top: 56px;
      width: 100%;
      height: 4px;
      border-radius: 8px;
      display: block;
      background-color: $color-btn-blue;
    }
  }
}

.is-active:link {
  color: $color-btn-blue;
}

//#endregion

.main {
  padding: 50px 40px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: $content-width;
  font-family: roboto, sans-serif;
}
 
.product {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: $card-width;
  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: 5px;
  margin-bottom: 46px;
  // transition-property: transform;
  // transition-duration: 300ms;
  
  // &:hover {
  //   transform: scale(1.2, 1.2);
  // }

  &:not(:nth-child(4n)) {
    margin-right: 48px;
  }
  
  &__img {
    height: 134px;
    width: 160px;
    margin: 32px 19px 40px;
  }

  &__item {
    // box-sizing: border-box;
    margin-left: 16px;
    margin-right: 16px;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $color-main-text;
    margin-bottom: 4px;
    transition: color 300ms;

    // &:hover {
    //   color: #34568b;
    // }
  }

  &__code {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $color-secondary-text;
    margin-bottom: 16px;
  }
  
  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 24px;
  }
  
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 
}

.price {
  font-size: 12px;
  font-weight: 400;
  color: $color-secondary-text;

}

.price-num {
  color: $color-main-text;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;

  &__star {
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }

  &__star:not(:last-child) {
    margin-right: 4px;
  }
        
  @for $starCount from 1 through 5 {
    &--#{$starCount} .stars__star:nth-child(-n + #{$starCount}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
 
.btn {
  display: flex;
 
  &__link {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    color: $color-accent-white;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background-color: $color-btn-blue;
    border: 1px solid $color-btn-blue;
    border-radius: 5px;
    margin-bottom: 16px;
    margin-top: 16px;
  
    &:hover {
      background-color: $color-accent-white;
      color: $color-btn-blue;
    }
  }
}
