$card-width: 200px;
$cards-gap: 48px;
$color-link-blue: rgba(0, 172, 220, 1);
$color-secondary-text: rgba(97, 96, 112, 1);
$color-main-text: rgba(6, 11, 53, 1);
$color-accent-white: rgba(255, 255, 255, 1);
